<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <link rel='stylesheet' href='/stylesheets/style.css' />
     </head>
  <body>
    {{>header}}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <div class="container">
   {{{body}}}
    </div>
    
 
     </body>
     
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</html>
