
  <link rel='stylesheet' href='/stylesheets/checkout_style.css' />
<div class="container">
<div class="row">
<!-- You can make it whatever width you want. I'm making it full width
on <= small devices and 4/12 page width on >= medium devices -->
<div class="col-xs-12 col-md-4">


<!-- CREDIT CARD FORM STARTS HERE -->
<div class="panel panel-default credit-card-box">
<div class="panel-heading display-table" >
<div class="row display-tr" >
<h3 class="panel-title display-td" >Payment Details</h3>
<div class="display-td" >                            
<img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
</div>
</div>                    
</div>


    <div id="charge-error" class="alert alert-danger" {{#if noErrors}}hidden{{/if}} >
      {{errMsg}}
    </div>

<div class="panel-body">
        <form role="form" id="payment-form" action="/checkout" method="post">
        
        <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
        <label for="cardNumber">CARD NUMBER</label>
        <div class="input-group">
        <input 
        type="tel"
        class="form-control"
        name="cardNumber"
        placeholder="Valid Card Number"
        autocomplete="cc-number"
        id="card-number"
        required autofocus 
        />

        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
        </div>
        </div>                            
        </div>
        </div>
        <div class="row">
        <div class="col-xs-5 col-md-5">
        <div class="form-group">
        <label for="cardExpiry"><span class="hidden-xs">EXP-MONTH</span><span class="visible-xs-inline"></span> </label>
        <input 
        type="tel" 
        class="form-control"
        name="cardCVC"
        placeholder="MM"
        autocomplete="cc-csc"
        id="card-expiry-month"
        required
        />
        </div>
        </div>
        <div class="col-xs-5 col-md-5">
        <div class="form-group">
        <label for="cardExpiry"><span class="hidden-xs">EXP-YEAR</span><span class="visible-xs-inline"></span> </label>
        <input 
        type="tel" 
        class="form-control"
        name="cardCVC"
        placeholder="YYYY"
        autocomplete="cc-csc"
        id="card-expiry-year"
        required
        />
        </div>
        </div>
        <div class="col-xs-5 col-md-5 pull-left">
        <div class="form-group">
        <label for="cardCVC">CV CODE</label>
        <input 
        type="tel" 
        class="form-control"
        name="cardCVC"
        placeholder="CVC"
        autocomplete="cc-csc"
        id="card-cvc"
        required
        />
        </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
        <label for="couponCode">COUPON CODE</label>
        <input type="text" class="form-control" name="couponCode" id="coupon- code"/>
        </div>
        </div>                        
        </div>
        <div class="row">
        <div class="col-xs-12">
        <div class="form-group">
        <label for="couponCode">NAME</label>
        <input type="text" class="form-control" name="name" id="name" required/>
        </div>
        </div>                        
        </div<div class="row">
        <div class="col-xs-12">
        <div class="form-group">
        <label for="couponCode">ADDRESS</label>
        <input type="text" class="form-control" name="address" id="address" required/>
        </div>
        </div>                        
        </div
        <div class="row">
        <div class="col-xs-12">
        <button class="btn btn-success btn-lg btn-block" id="pay-click" type="submit">MAKE PAYMENT OF  &nbsp; ${{total}}</button>
        </div>
        </div>
        <div class="row" style="display:none;">
        <div class="col-xs-12">
        <p class="payment-errors"></p>
        </div>
        </div>
        </form>
</div>
</div>            
<!-- CREDIT CARD FORM ENDS HERE -->


</div>            



</div>
</div>

	<!-- If you're using Stripe for payments STRIPE SDK-->
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript" src="javascripts/checkout.js"></script>
		
</body>